* {
	margin: 0px;
	padding: 0px;
	margin: auto;
	list-style: none;
	text-decoration: none;
}

/* 横幅 */
.dingbuw {
	width: 100%;
	position: relative;
	background-color: #ffffff;
}

.hf {
	width: 100%;
}

.hf img {
	width: 100%;
}

/* 搜索栏 */
.dws {
	width: 100%;
	background-color: rgba(202, 202, 202, 0.5);
	position: absolute;
	top: 0px;
}

.toubu {
	width: 864px;
	height: 40px;
	padding: 5px 80px;
}

.toubu img {
	width: 110px;
	height: 40px;
	float: left;
}

.toubu .sskhz {
	width: 460px;
	height: 40px;
	float: left;
	margin: 0px 4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ssk {
	height: 40px;
	border-radius: 40px;
	background-color: rgba(249, 0, 12, 0.8);
	padding: 0px 20px;
	display: flex;
	justify-content: center;
	align-items: center
}

.ssk input {
	color: #3B82F6;
}

.wbk {
	width: 0px;
	font-size: 15px;
	color: #000000;
	border: none;
	outline: none;
	background: none;
	transition: 0.8s;
}

.tj {
	text-decoration: none;
	font-size: 18px;
	color: #000000;
}

.ssk:hover .wbk {
	width: 380px;
}

.tj:hover {
	cursor: pointer;
	color: #a81205;
}

.toubu li {
	width: 55px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	list-style: none;
	float: left;
	background-color: rgba(221, 221, 221, 0);
	margin: 5px 0px;
}

.toubu li:hover {
	cursor: pointer;
	border-radius: 8px;
	background-color: rgba(221, 221, 221, 0.5);
}

.fg {
	width: 1px;
	height: 16px;
	margin: ;
	float: left;
	margin: 12px 2px;
	background-color: #000000;

}

.toubu .denglu a {
	width: 38px;
	height: 38px;
	float: right;
	border-radius: 50px;
	font-size: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	text-decoration: none;
	color: rgba(235, 0, 11, 0.8);
}

.toubu .denglu:hover a {
	cursor: pointer;
	background-color: #3B82F6;
	color: #ffffff;
}

/* 导航栏 */
.dwx {
	width: 100%;
	height: 35px;
	position: absolute;
	bottom: 4.5px;
}

.dhl {
	width: 900px;
	height: 35px;
}

.dhl li {
	width: 300px;
	height: 35px;
	list-style: none;
	float: left;
	border-radius: 5px 5px 0px 0px;
	line-height: 35px;
	text-align: center;
	font-weight: 600;
}

.dhl li:hover {
	cursor: pointer;
}

.dhl li a {
	color: #ffffff;
	text-decoration: none;
	transition: 0.8s;
}

.dhl li a:hover {
	color: #000000;
}

.sy {
	background-color: rgba(249, 0, 12, 0.6);
}

/* 中间内容 */
.zjnrw {
}

.zjnrw .zjnrn {
	width: 900px;
	height: 850px;
	padding: 60px 25px;
}

.zuo {
	height: 800px;
	float: left;
}

/* 左大照片 */
.zuo .zphz {
	width: 500px;
	height: 300px;
	background-color: #7AD9EE;
	border: rgba(249, 0, 12, 0.6) 4px solid;
}

/* 轮播图 */
.swiper-wrapper img {
	width: 500px;
	height: 300px;
}

.my-bullet-active {
/* 分页器 */
	background: rgba(249, 0, 12, 1);
	opacity: 1; //透明度
}
.swiper-button-prev{
	/* 左右按钮 */
	color: rgba(249, 0, 12, 0.8);
}
.swiper-button-next{
	color: rgba(249, 0, 12, 0.8);
}
/* 左边下面内容 */
/* 视频 */
.sphz{
	width: 500px;
	height: 300px;
	margin: 50px 0 0 0;
}
.sphz .spdw{
	width: 860px;
	height: 460px;
	/* background-color: #ff77c4; */
	padding: 15px;
	position: relative;
}
.sphz video{
	width: 100%;
	border: rgba(249, 0, 12, 0.6) 4px solid;
}
/* 视频遮盖上 */
.spdw .djsjs{
	width: 860px;
	height: 80px;
	position: absolute;
	top: 15px;
	transition: 0.8s;
	 background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0, 0, 0, 0));
}
.spdw:hover .djsjs{
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0, 0, 0, 0));
	height: 0;
	
}
/* 视频遮盖下 */
.spdw .djsj{
	width: 860px;
	height: 80px;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0, 0, 0, 1));
	position: absolute;
	bottom: 0;
	transition: 0.8s;
}
.spdw:hover .djsj{
	background-color: rgba(0,0,0,0);
	height: 0;
	color: rgba(0,0,0,0);
	
}
.djsj .spjs{
	height: 80px;
	color: #ffffff;
	font-size: 20px;
	transition: 0.8s;
	text-align: center;
	line-height: 80px;
}
.spdw:hover .spjs{
	color: rgba(0,0,0,0);
	height: 0;
}
/* 右文字介绍 */
.zjnrn .wzjs {
	width: 350px;
	height: 800px;
	float: right;
	line-height: 30px;
	font-size: 15px;
	/* background-color: #48ce00; */
}

.gn {
	width: 330px;
	height: 85px;
	font-family: Microsoft JhengHei;
	padding: 0 20px 0 0;
	position: relative;
}

/* 动画 */
.gn .dhdw {
	width: 350px;
	height: 28px;
	position: absolute;
	bottom: 0px;
}

.dhdw .ydxhz {
	width: 16px;
	height: 16px;
	border-radius: 4px;
	float: left;
	position: relative;
	animation-name: ydhz;
	animation-duration: 10s;
	animation-iteration-count: infinite;
}

@keyframes ydhz {
	0% {
		background-color: #000000;
	}

	5% {
		left: 0px;
		top: 0px;
	}

	20% {
		left: 80px;
		top: -25px;
	}

	30% {
		left: 150px;
		top: 0px;
	}

	50% {
		background-color: #c6c6c6;
		left: 334px;
	}

	100% {
		background-color: #000000;
		left: 0px;
	}
}

.gn .tw {
	float: right;
	font-size: 1px;
	line-height: 15px;
	text-align: center;
	margin: 8px;
}


.gn a {
	color: #000000;
	font-size: 18px;
}

.gn .tw i:hover {
	font-size: 15px;
}

.rjs p {
	width: 350px;
	height: 250px;
	text-indent: 38px;
}

/* 特点上 */
/* 上 */

/* 分隔 */
.zwfg {
	width: 900px;
	height: 2px;
	float: left;
	background-color: #FFFFFF;
}

/* 中 */
.zjnrn .xmz {
	width: 840px;
	height: 440px;
	float: left;
	background-image: linear-gradient(rgba(52, 70, 93, 0.8), rgba(255, 255, 255, 0.2), rgba(52, 70, 93, 0.8));
	padding: 30px;
}

.xmz .zjhz {
	width: 840px;
	height: 440px;
	background: url(../img/zjd.jpg) center bottom no-repeat fixed;
	position: relative;
}

.xmz .zjhz h2 {
	width: 840px;
	height: 50px;
	text-align: center;
	background-color: rgba(52, 73, 94, 0.4);
	line-height: 50px;
	color: #FFFFFF;
}

.xmz .zjhz p {
	width: 700px;
	height: 80px;
	padding: 0 70px;
	background-color: rgba(52, 73, 94, 0.4);
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	text-align: center;
	bottom: 0px;
}

/* 下 */
.zjnrn .xxm {
	width: 840px;
	height: 440px;
	float: left;
	background-image: linear-gradient(rgba(52, 70, 93, 0.8), rgba(255, 255, 255, 0.2));
	padding: 30px;
}

.xxm .zjhz {
	width: 840px;
	height: 440px;
	background: url(../img/bjtx.jpg) center bottom no-repeat fixed;
}

.zjhz .youwz {
	width: 300px;
	height: 440px;
	background-color: rgba(52, 73, 94, 0.4);
	float: right;
	color: #FFFFFF;
}

.youwz h2 {
	width: 300px;
	height: 200px;
	text-align: center;
	line-height: 250px;
}

.youwz p {
	width: 300px;
	height: 220px;
	text-indent: 32px;
}

/* 特点下 */
.zjnrn .zx {
	width: 840px;
	height: 460px;
	float: left;
	background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 1));
	padding: 30px;
}

.zx .zjhz {
	width: 840px;
	height: 460px;
}

.zjhz .zuob {
	width: 580px;
	height: 460px;
	float: left;
}

.zuob h2 {
	width: 580px;
	height: 70px;
	color: #FFFFFF;
	text-align: center;
	line-height: 70px;
}

.zuob .zxzp {
	width: 420px;
	height: 250px;
	padding: 70px 80px;
	position: relative;
}

.zxzp .xtw {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	position: absolute;
	background: url(../img/yuanz.png);
}

.zxzp .xtw2 {
	width: 250px;
	height: 250px;
	float: right;
	border-radius: 50%;
	background: url(../img/yuanr.png);
}

.xtw2 .yg {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	text-align: center;
	background-color: rgba(67, 67, 67, 0.4);
}

.yg .sj {
	width: 140px;
	height: 170px;
	float: right;
	margin: 75px 30px 0 0;
	color: #FFFFFF;
	line-height: 25px;
}

.sj h5 {
	text-align: right;
}

.xtw2:hover .yg {
	cursor: pointer;
	display: none;
}

.zjhz .youb {
	float: right;
}

.youb .rwz {
	width: 260px;
	height: 460px;
	line-height: 28px;
	text-indent: 25px;
	color: #FFFFFF;
}

/* 页脚 */
.yejiaow {
	width: 100%;
	background-color: #000000;
	position: relative;
}

.jbxx {
	width: 1024px;
	height: 180px;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
}
.jbxx .name{
	position: absolute;
	right: 12px;
	bottom: 40px;
}
.jbxx a {
	color: #ffffff;
}
/* 新内容 */
.wai{
	width: 100%;
	background-image: linear-gradient(rgba(255, 0, 0, 0),rgba(255, 0, 0, 0.6) , rgba(0, 0, 0, 1));
}
.wai .nei{
	width: 1024px;
	/* height: 3000px; */
	/* background-color: #7FFFD4; */
}
/* 1 */
.nei .xm {
	width: 860px;
	height: 440px;
	padding: 60px 30px 30px 30px;
}

.xm .zjhz {
	width: 840px;
	height: 440px;
	background: url(../img/sdfm.jpg)  top  fixed;
}

.zuowz {
	width: 300px;
	height: 440px;
	background-image: linear-gradient(to right,rgba(52, 73, 94, 0.8) , rgba(52, 73, 94, 0));
	float: left;
	display: flex;
}
.zuowz p {
	width: 300px;
	text-indent: 32px;
	color: #ffffff;
}
/* 2 */
.nei .xm2 {
	width: 860px;
	height: 440px;
	padding: 60px 30px 30px 30px;
}

.xm2 .zjhz2 {
	width: 840px;
	height: 440px;
	background: url(../img/newxdfm.jpg)  top  fixed;
}
/* 3 */
.nei .xm3 {
	width: 860px;
	height: 440px;
	padding: 60px 30px 30px 30px;
}

.xm3 .zjhz3 {
	width: 840px;
	height: 440px;
	background: url(../img/wr.jpg)  top  fixed;
}
/* 4 */
.nei .xm4 {
	width: 860px;
	height: 330px;
	padding: 60px 30px 30px 30px;
	display: flex;
	position: relative;
}
.xm4 .ok{
	width: 280px;
	height: 330px;
	background-color: #f98612;
	display: flex;
	text-align: center;
}
.tzxx{
	width: 350px;
	height: 50px;
	position: absolute;
	top: 0;
	line-height: 50px;
}
.ok img{
	width: 250px;
	margin: 0 0 20px 0;
}
.ok a{
	color: #ffffff;
}

